html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* GENERAL STYLES  */

*,
img,
h1 {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

img {
    width: 100%;
}

img, 
label,
input {
    display: block;
}

section.articles button,
section.about button {
    float: none;
    margin: 0 auto;
}


body {
    font-size: 62.5%;
    font-family: proxima-nova,'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

body, 
a {
    color: #232323;
}

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

header {
    height: 675px;
    background: #f8f8f8 url(../assets/asset-1.jpg);
    background-size: cover;
}

h1,
h2 {
    font-family: great-vibes, 'Marck Script', sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 8.15rem;
    position: relative;
    left: 5px;
    top: 0.5px;
}

h1 span {
    position: relative;
    right: 10px;
    letter-spacing: -0.04rem;
}

h2.logo,
h2.logo a {
    font-size: 2.9rem;
    text-transform: none;
    font-weight: normal;
}

h2.logo a {
    padding: 0;
}

h2 {
    font-size: 2.4rem;
}


/* HEADER */


header a {
    font-size: 1.05rem;
    text-align: center;
}

header nav {
    padding-top: 1.325%;
}

/* colour gotten by altering a given shade, due to accessibility contrast needs */

header nav a:hover,
header nav a:focus-within {
    color: #ebb000;
}

header nav a,
button {
    font-weight: 700;
}

header nav a {
    padding: 20px 30px;
}

header button {
    background: none;
    font-size: 2.5rem;
    transform: scalex(1.5);
    float: right;
    display: none;
    width: unset;
    padding: unset;
}

header nav:first-child a {
    padding-right: 0;
}

h3,
h4,
header nav a {
    text-transform: uppercase;
}

header nav h2 {
    float: left;
}

header nav ul {
    float: right;
    position: relative;
    top: 18px;
}

header nav li {
    float: left;
}

header section {
    clear: both;
    position: relative;
    padding: 196px 0;
}

header section article {
    text-align: center;
    width: 33%;
    margin: auto;
}

header section .social-links {
    position: absolute;
    top: 205px;
    right: -80px;
}

header section .social-links a {
    clear: both;
    display: block;
    color: #232323;
    padding: 7.5px;
}

header section .social-links a:hover,
header section .social-links a:focus-within {
    color: #fdc800;
}

h3 {
    font-size: 1.8rem;
}

header article h3 {
    line-height: 1.1rem;
}

p,
button,
input[type='email'],
footer button a {
    font-size: 0.96rem;
    text-align: center;
    line-height: 1.55rem;
}


/* ABOUT */

section.about .wrapper {
    padding: 6.45% 0;
}

section.about h2,
section.about p {
    text-align: center;
    margin: auto;
}

section.about h2 {
    font-size: 2.2rem;
}

section.about p.paragraph {
    width: 62%;
    padding: 2.25% 0 2.15%;
}

button {
    text-transform: uppercase;
    background: #fdc800;
    display: block;
    width: 180px;
    padding: 8px 0;
}

button a:hover,
button a:focus-within {
    color: #f8f8f8;
}

button,
button a {
    padding: 8px 8px;
}

input[type='email'],
button,
footer button a {
    padding: 9px 0;
}

button {
    width: 25%;
}


/* LINKS */


section.links {
    background-color: #232323;
    text-align: center;
    padding: 28px 0 52px;
}

section.links .wrapper {
    width: 50%;
}

section.links a {
    float: left;
    padding: 5%;
    width: 33%;
    text-align: center;
}

section.links i,
section.links h4 {
    color: #f8f8f8;
}

section.links article:hover i,
section.links article:focus-within i,
section.links article:hover h4,
section.links article:focus-within h4 {
    color: #fdc800;
}

section.links i {
    font-size: 2.1rem;
    padding: 25px;
}

h4 {
    font-size: 1.3rem;
}


/* GALLERY */


section.gallery {
    width: 100%;
    background: #f8f8f8;
}

section.gallery .gallery-container {
    margin: auto;
    width: 82.5%;
}

section.gallery .gallery-container div {
    width: 33.33333%;
    float: left;
    padding: 7.5% 0;
}

section.gallery div img {
    padding: 0 4.5%;
}


/* ARTICLES  */


section.articles, 
section.about {
    background-color: #eaedf4;
}

.article-img-container, 
article.tips, 
article.recipes {
    width: 50%;
}

article.tips,
.articles .img1 {
    float: left;
}

article.recipes,
.articles .img2 {
    float: right;
}

section.articles article.tips,
section.articles article.recipes {
    padding: 6.25% 5% 0;
}

section.articles .wrapper {
    width: 75%;
}

section.articles article.tips .wrapper {
    margin-right: 0;
}

section.articles article.recipes .wrapper {
    margin-left: 0;
}

section.articles p,
section.articles h3 {
    text-align: center;
    margin: 0 auto;
}

section.articles p.paragraph {
    width: 65%;
    padding: 6.5% 0 5.5%;
}

section.articles button {
    width: 33.8%;
    display: block;
    padding: 9px 0;
}


/* AUTHOR */


section.author {
    clear: both;
    background-color: #f8f8f8;
}

section.author .wrapper {
    padding: 6.25% 0;
}

section.author article,
section.author .img-container {
    float: left;
}

section.author article {
    width: 65%;
    text-align: left;
    margin: 0.75% 0 0 3.75%;
}

section.author article p.paragraph {
    text-align: left;
    padding: 3% 0 4.5%;
    line-height: 1.4999rem;
}

section.author h2 {
    font-size: 2.21rem;
}

section.author .img-container {
    width: 26.4%;
}

section.author .img-container img {
    border: 0px solid #f8f8f8;
    border-radius: 50%;
}


/* FOOTER */


footer {
    clear: both;
}

footer nav {
    background-color: #232323;
}

footer .footer-copyright {
    background-color: black;
}

footer li,
footer a,
footer h4,
label {
    color: #f8f8f8;
}

footer a:hover,
footer a:focus-within {
    color: #fdc800;
}

footer h4 {
    margin-bottom: 2%;
    position: relative;
    left: 2px;
}

article.subscription h4 {
    margin-bottom: 0;
}

label {
    margin: 0.75% 0 2.15%;
}

footer li,
footer a, 
label {
    font-size: 1.0rem;
    line-height: 1.55rem;
}

::placeholder {
    color: #232323;
    opacity: 0.95;
}

footer article {
    float: left;
    padding: 7.25% 2.5% 6.75%;
}

footer article.subscription {
    float: right;
    width: 50%;
    padding-left: 0;
}

footer .wrapper {
    width: 85%;
}

footer article.recent {
    margin: 0 .5% 0 2.5%;
}

article.pages a {
    text-transform: uppercase;
}

button,
input[type='email'] {
    border: none;
    float: left;
}

button a {
    color: #232323;
}

button a:hover,
button a:focus-within {
    color: #f8f8f8;
}

input[type='email'] {
    text-align: left;
    padding-left: 5%;
    width: 75%;
}

.footer-copyright {
    clear: both;
    color: rgba(234, 237, 244, .6);
}

p.copyright {
    font-size: 0.92rem;
    padding: .73% 0 .65%;    
}






/* MEDIA QUERIES */








@media (max-width: 1240px) {

        /* FOOTER  */

    footer article.subscription {
        float: none;
        padding-right: 0;
    }

    footer article.contact-info,
    footer article.pages,
    footer article.subscription,
    footer article.recent {
        height: 100%;
        margin: auto;
    }

    input[type='email'],
    footer button {
        margin: auto;
        width: 100%;
    }

    
    input[type='email'] {
        text-align: center;
        padding-left: 0;
    }

    footer button {
        margin: 3% 0 1%;
    }

    footer article.contact-info,
    footer article.pages,
    footer article.recent {
        width: 25%;
        padding: unset;
        margin: unset;
    }

    footer article.contact-info {
        margin-left: 17.5%;
    }

    footer form,
    footer article.subscription h4 {
        text-align: center;
    }

    nav#contact {
        padding-bottom: 4%;
    }

    footer li,
    footer a,
    label {
        font-size: 1.15rem;
    }

    p.copyright {
        font-size: 1.0rem;
    }
}



@media (max-width: 1100px) {
    section.articles article.tips,
    section.articles article.recipes {
        padding: 3% 0;
    }
}




@media (max-width: 980px) {

    .wrapper {
        width: 85%;
    }

    /* HEADER */

    header nav {
        padding-top: 4%;
    }

    header section article {
        width: 50%;
    }

    header section .social-links {
        right: 0
    }

    h2.logo,
    h2.logo a {
        font-size: 3.4rem;
    }

    header a {
        font-size: 1.2rem;
    }

    /* ABOUT */

    section.about h2 {
        font-size: 2.8rem;
    }

    section.about p.paragraph {
        width: 85%;
        padding-bottom: 4%;
    }

    p,
    button,
    input[type='email'],
    footer button a {
        font-size: 1.15rem;
        line-height: 2.0rem;
    }

    section.links .wrapper {
        width: 65%;
    }

    h4 {
        font-size: 1.5rem;
    }

    button {
        width: 250px;
    }

    /* LINKS */

    section.links i {
        font-size: 2.4rem;
    }

    /* GALLERY */

    section.gallery .gallery-container {
        width: 95%;
    }

    section.gallery .gallery-container div {
        padding: 7.5% 0;
    }

    /* ARTICLES */

    article.tips,
    .articles .img1,
    article.recipes,
    .articles .img2 {
        float: none;
    }

    .article-img-container,
    article.tips,
    article.recipes {
        width: 100%;
    }

    section.articles article.tips,
    section.articles article.recipes {
        padding: 5% 0 8%;
    }

    section.articles article.tips .wrapper,
    section.articles article.recipes .wrapper {
        margin: 0 auto;
    }

    section.articles button {
        width: 53%;
        padding: 12.5px 0;
    }

    h3 {
        font-size: 2.5rem;
    }

    section.articles p.paragraph {
        width: 75%;
        padding: .5% 0 1%;
    }

    p, 
    button,
    input[type='email'],
    footer button a {
        font-size: 1.4rem;
        line-height: 2.3rem;
    }

    /* AUTHOR */

    section.author .wrapper {
        width: 90%;
    }

    section.author .img-container {
        padding-top: 9.5%;
    }

    section.author h2 {
        font-size: 3.2rem;
    }

    section.author article {
        width: 69%;
    }

    section.author article p.paragraph {
        line-height: 2.0rem;
        padding: 1% 0 5%;
    }
}




@media (max-width: 750px) {

    /* HEADER */

    header button {
        display: block;
    }
        
    header section .social-links a {
        display: none;
    }

    header section article {
        width: 70%;
    }

    /* GALLERY  */
    
    section.gallery .gallery-container div:last-child {
        display: none;
    }

    section.gallery .gallery-container div {
        width: 50%;
    }

    /* AUTHOR  */

    section.author .img-container,
    section.author h2,
    section.author button {
        text-align: center;
        margin: auto;
    }
    
    section.author article,
    section.author .img-container {
        float: none;
    }

    section.author .img-container {
        width: 55.5%;
        margin: auto;
    }

    section.author article {
        margin: auto;
        width: 85%;
    }


    section.author .wrapper {
        padding: 12.5% 0;
    }

    /* NOTE: Design has section.author h2 and button offcentered, it doesn't look intentional. I instead have mine centered, and if client wanted offcenter could easily add in position:relative to slightly offset */

    section.author h2 {
        font-size: 3.15rem;
        padding: 9% 0 6.5%;
    }

    section.author article p.paragraph {
        line-height: 2.2rem;
        font-size: 1.3rem;
        margin-bottom: 4.5%;
    }

    section.author button,
    section.author button a {
        padding: 12.5px 20px;
        width: 300px;
    }

    header nav li {
        display: none;
    }

    /* FOOTER  */

    footer article.subscription {
        width: 65%;
    }

}




@media (max-width: 630px) {
    section.links {
        padding: 4% 0 10%;
    }

    section.links a {
        float: none;
        padding: unset;
    }

    h4 {
        font-size: 1.75rem;
    }

    section.links i {
        font-size: 3.0rem;
    }

    section.links article {
        padding: 4.75%;
    }

    section.links .wrapper {
        width: 80%;

    }

    
    section.gallery .gallery-container div {
        padding: unset;
    }

    section.gallery div img {
        padding: unset;
    }

    section.gallery .gallery-container {
        width: 100%
    }

    /* FOOTER */
    
    footer nav .wrapper {
        padding: 10% 0 8.5%;
        width: 90%;
    }

    footer article.recent {
        display: none;
    }

    footer article.contact-info,
    footer article.pages,
    footer article.subscription {
        float: none;
        width: 100%;
        padding: 3.5% 0;
    }

    footer article.contact-info {
        margin-left: 0;
    }

    footer button,
    input[type='email'],
    footer button a {
        padding: 12px;
    }

    footer article.contact-info li {
        width: 50%;
        float: left;
        line-height: 2.2rem;
    }

    footer article.contact-info li:nth-of-type(even) {
        text-align: left;
    }

    footer article.contact-info li:nth-of-type(odd) {
        text-align: right;
        padding-right: 2.5px;
    }

    footer article.contact-info li:nth-of-type(1)::after {
        content: ",";
    }

    footer article.pages {
        clear: both;
    }

    footer article.pages ul {
        text-align: center;
        margin: 0 auto;
        width: 90%;
    }

    footer article.pages li {
        float: left;
        text-align: center;
        width: 23.5%;
    }

    footer li,
    footer a,
    label, 
    ::after {
        font-size: 1.3rem;
    }

    label {
        margin: 2.5% 0 4%;
    }

    p.copyright {
        font-size: 1.25rem;
        padding: 2.4% 0;
    }

    article.pages li:not(:last-child)::after {
        content: "|";
        position: relative;
        left: 14%;
    }

    footer h4 {
        text-align: center;
    }
}




@media (max-width: 525px) {
    article.pages li:not(:last-child)::after {
        left: 10%;
    }
}




@media (max-width: 480px) {
    .wrapper {
        width: 85%;
    }

    /* HEADER */

    header {
        height: 720px;
        background-size: 315%;
        background-position: 53% 100%;
    }

    

    header nav {
        padding-top: 5.5%;
    }

    header nav ul {
        top: -5px;
        right: 5px;
    }

    header section article {
        width: 100%;
    }


    h3 {
        font-size: 1.6rem;
    }

    h1 {
        font-size: 9rem;
    }

    /* ABOUT */

    section.about {
        height: unset;
    }

    section.about .wrapper {
        padding: 12.75% 0;
    }

    section.about h2 {
        font-size: 3.2rem;
    }

    section.about p.paragraph {
        width: 80%;
        font-size: 1.3rem;
        line-height: 2.2rem;
        padding: 4.75% 0;
    }

    button {
        font-size: 1.3rem;
        width: 255px; 
    }

    button,
    button a {
        padding: 17.5px;
    }

    /* ARTICLES */

    .article-img-container {
        height: 260px;
    }
    
    .article-img-container img {
        object-fit: cover;
        object-position: 50% 0;
        height: 100%;
    }

    section.articles button {
        width: 53%;
        padding: 12.5px 0;
    }

    h3 {
        font-size: 2.5rem;
    }

    section.articles p.paragraph {
        width: 90%;
        padding: 6.5% 0 9%;
    }

    p, 
    button,
    input[type='email'],
    footer button a {
        font-size: 1.25rem;
        line-height: 2.15rem;
    }

    section.articles article.tips,
    section.articles article.recipes {
        padding: 11% 0 12.5%;
    }
    
    /* FOOTER */

    article.pages li:not(:last-child)::after {
        left: 4%;
    }
    
}